<!-- Container -->

<!-- Header
		    ================================================== -->

<!-- End Header -->

<!-- page-banner-section 
			================================================== -->
<section class="page-banner-section">
	<div class="container">
		<h1>Checkout</h1>
		<ul class="page-depth">
			<li><a href="index.html">Studiare</a></li>
			<li><a href="checkout.html">Checkout</a>
			</li>
		</ul>
	</div>
</section>
<!-- End page-banner-section -->

<!-- cart-section 
			================================================== -->
<section class="cart-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-header">
								<strong>Credit Card</strong>
								<small>enter your card
									details</small>
							</div>
							<div class="card-body">
								<form
									action="/course/{{course._id}}/orders"
									method="POST">

									<div class="row">

										<div
											class="col-sm-12">
											<div
												class="form-group">
												<label
													for="name">Full
													Name :
												</label>
												<input
													class="form-control"
													id="name"
													name="fullName"
													type="text"
													placeholder="Enter your name">
											</div>
										</div>
									</div>
									<div class="row">
										<div
											class="col-sm-12">
											<div
												class="form-group">
												<label
													for="ccnumber">Credit
													Card
													Number</label>
												<div
													class="input-group">
													<input
														class="form-control"
														type="number"
														placeholder="0000 0000 0000 0000"
														name="numberCard"
														autocomplete="email">
													<div
														class="input-group-append">
														<span
															class="input-group-text">
															<i
																class="mdi mdi-credit-card"></i>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div
											class="form-group col-sm-4">
											<label
												for="ccmonth">Month</label>
											<select
												name="ccmonth"
												class="form-control"
												required
												id="ccmonth">
												<option>1
												</option>
												<option>2
												</option>
												<option>3
												</option>
												<option>4
												</option>
												<option>5
												</option>
												<option>6
												</option>
												<option>7
												</option>
												<option>8
												</option>
												<option>9
												</option>
												<option>10
												</option>
												<option>11
												</option>
												<option>12
												</option>
											</select>
										</div>

										<div
											class="form-group col-sm-4">
											<label
												for="ccyear">Year</label>
											<select
												class="form-control"
												name="ccyear"
												required
												id="ccyear">
												<option>2014
												</option>
												<option>2015
												</option>
												<option>2016
												</option>
												<option>2017
												</option>
												<option>2018
												</option>
												<option>2019
												</option>
												<option>2020
												</option>
												<option>2021
												</option>
												<option>2022
												</option>
												<option>2023
												</option>
												<option>2024
												</option>
												<option>2025
												</option>
											</select>
										</div>
										<div
											class="col-sm-4">
											<div
												class="form-group">
												<label
													for="cvv">CVV/CVC</label>
												<input
													class="form-control"
													id="cvv"
													name="cvv"
													required
													type="text"
													placeholder="123">
											</div>
										</div>
									</div>
							</div>
							<div class="card-footer">
								<button
									class="btn btn-sm btn-success float-right"
									type="submit">
									<i
										class="mdi mdi-gamepad-circle"></i>
									Check Out</button>
								<button
									class="btn btn-sm btn-danger"
									type="reset">
									<i
										class="mdi mdi-lock-reset"></i>
									Reset</button>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="sidebar">
					<div class="widget cart-widget">
						<h2>Your order</h2>
						<table>
							<tbody>
								<tr>
									<td>Product</td>
									<td>Total</td>
								</tr>

								<tr>
									<td class="name-pro">
										{{course.title}}
									</td>
									<td>${{course.price}}
									</td>
								</tr>

								<tr class="order-total">
									<th>Subtotal</th>
									<td>{{course.price}}$
									</td>
								</tr>
								<tr class="order-total">
									<th>Total</th>
									<td class="total-price">
										{{course.price}}$
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End cart section -->

<!-- footer 
			================================================== -->