<section class="page-banner-section">
	<div class="container">
		<h1>{{course.title}}</h1>
		<ul class="page-depth">
			<li><a href="index.html">Studiare</a></li>
			<li><a href="courses.html">Courses</a></li>
			<li><a
					href="single-course.html">{{course.title}}</a>
			</li>
		</ul>
	</div>
</section>

<section class="single-course-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">

				<div class="single-course-box">

					<!-- single top part -->
					<div class="product-single-top-part">
						<div
							class="product-info-before-gallery">
							<div
								class="course-author before-gallery-unit">
								<div class="icon">
									<i
										class="material-icons">account_box</i>
								</div>
								<div class="info">
									<span
										class="label">Teacher</span>
									<div class="value">
										<a
											href="single-teacher.html">{{course.instructors.name}}</a>
									</div>
								</div>
							</div>
							<div
								class="course-category before-gallery-unit">
								<div class="icon">
									<i
										class="material-icons">bookmark_border</i>
								</div>
								<div class="info">
									<span
										class="label">Category</span>
									<div class="value">
										<a href="#">{{course.category}}

									</div>
								</div>
							</div>
							<div
								class="course-rating before-gallery-unit">
								<div
									class="star-rating has-ratings">
									<span
										class="rating">{{course.ratingsAverage}}</span>
									<span
										class="votes-number">{{course.ratingsAverage}}
										votes</span>
								</div>
							</div>
						</div>
						<div class="course-single-gallery">
							<img src="{{course.imageCover}}"
								alt="">
						</div>

					</div>

					<!-- single course content -->
					<div class="single-course-content">
						{{{course.textDescription}}}

						<!-- course section -->
						{{#each lessons}}
						{{>course-section-preview lesson = this}}
						{{/each}}
						<!-- end course section -->

						<!-- course section -->
						<!-- end course section -->

					</div>
					<!-- end single course content -->

					<!-- course reviews -->
					<div class="course-reviews">
						<div class="course-review-title">
							<h3>
								<i
									class="material-icons">chat_bubble_outline</i>
								Student Reviews
							</h3>
						</div>
						<div class="course-reviews-inner">
							<div class="ratings-box">
								<div class="rating-average">
									<p>Average rating
									</p>
									<div
										class="average-box">
										<span
											class="num">{{course.ratingsAverage}}</span>
										<span
											class="ratings">
											<i
												class="fa fa-star"></i>
											<i
												class="fa fa-star"></i>
											<i
												class="fa fa-star"></i>
											<i
												class="fa fa-star"></i>
											<i
												class="fa fa-star-half-o"></i>
										</span>
										<span class="txt">on
											:
											{{course.reviews.length}}
											votes </span>
									</div>
								</div>
								{{#if reviews.length }}
								<div
									class="detailed-rating">
									<p>Detailed Rating
									</p>
									<div
										class="detailed-box">


										<ul
											class="detailed-lines">
											{{#each reviews}}
											<li>
												<span>{{this.rating}}
													Stars</span>
												<div
													class="outer">
													<span
														class="inner-fill"
														style="width: {{dividePercent this.count ../course.lengthReviews}}%">

													</span>
												</div>
												<span>
													{{this.count}}</span>
											</li>
											{{/each}}


										</ul>
									</div>
								</div>
								{{else}}
								{{/if}}
							</div>
							{{#if reviews.length }}
							<ul class="comments">
							</ul>
							{{else}}
							{{/if}}
							{{#if user}}
							<form class="add-review"
								method="POST"
								action="/course/{{course._id}}/reviews">
								<h1>Add a Review</h1>
								<label>Your
									rating</label>
								<select required
									name="rating">

									<option>1
									</option>
									<option>2
									</option>
									<option>3
									</option>
									<option>4
									</option>
									<option>5
									</option>
								</select>
								<label>Your
									Review</label>
								<textarea required
									name="review"></textarea>
								<button
									type="submit">Submit</button>
							</form>
							{{else}}

							{{/if}}

						</div>
					</div>
					<!-- end course reviews -->

				</div>

			</div>

			<div class="col-lg-4">
				<div class="sidebar">
					<div class="widget course-widget">
						<p class="price">
							<span
								class="price-label">Price</span>
							<span class="amount">
								${{course.price}}</span>
						</p>
						{{#if (isAddWishList user course._id)}}

						<a href="/course/{{course._id}}/orders"
							class="button-one">Enroll
							Now</a>
						{{else}}
						<a href="/course/{{course._id}}/orders"
							class="button-one">Enroll
							Now</a>
						<a href="/user/wish-list/{{course._id}}"
							class="button-one add-wish-list">Add
							Your
							Love List</a>
						{{/if}}


						<div class="product-meta-info-list">
							<h3>Course Features</h3>
							<div class="meta-info-unit">
								<div class="icon">
									<i
										class="material-icons">language</i>
								</div>
								<div class="value">
									Language: English
								</div>
							</div>
							<div class="meta-info-unit">
								<div class="icon">
									<i
										class="material-icons">access_time</i>
								</div>
								<div class="value">
									{{course.duration}}
									hours on-demand
									video</div>
							</div>
							<div class="meta-info-unit">
								<div class="icon">
									<i
										class="material-icons">playlist_add_check</i>
								</div>
								<div class="value">11
									Lessons</div>
							</div>
							<div class="meta-info-unit">
								<div class="icon">
									<i
										class="material-icons">spellcheck</i>
								</div>
								<div class="value">Study
									Level:
									{{course.difficulty:}}
								</div>
							</div>
							<div class="meta-info-unit">
								<div class="icon">
									<i
										class="material-icons">terrain</i>
								</div>
								<div class="value">
									Certificate of
									Completion</div>
							</div>
						</div>
						<ul class="share-list">
							<li><span>Share:</span></li>
							<li><a href="#"
									class="facebook"><i
										class="fa fa-facebook-f"></i></a>
							</li>
							<li><a href="#"
									class="twitter"><i
										class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"
									class="google"><i
										class="fa fa-google-plus"></i></a>
							</li>
							<li><a href="#"
									class="linkedin"><i
										class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					<div class="widget profile-widget">
						<div class="top-part">
							<img src="upload/teachers/teacher4-thumb.jpg"
								alt="Leslie Williams">
							<div class="name">
								<h3>{{course.instructors.name}}
								</h3>
								<span
									class="job-title">Math</span>
							</div>
						</div>
						<div class="content">
							<p>{{course.description}}</p>
							<a href="single-teacher.html"
								class="text-link">View
								full profile</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>