{{#> user-profile-layout}}
{{> title-user titleName='List Course'}}
<div class="row">
    {{#if courses.length}}

    <div class="container">
        <div class="row">
            {{#each courses}}
            <div
                class="col-sm-2 col-md-4 col-lg-3 mr-4 mb-5">
                <div class="card" style="width: 18rem;">
                    {{#if ( ifCondUser ../user.role )}}
                    <img class="card-img-top"
                        src="/{{this.course.imageCover}}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{this.course.title}}</h5>
                        <a href="/user/course/{{this.course._id}}/review"
                            class="btn btn-primary mr-2 mb-3">Review</a>
                        <a href="/instructor/course/{{this._id}}/video"
                            class="btn btn-primary mr-2 mb-3">Learned</a>
                    </div>
                    {{else}}
                    <img class="card-img-top"
                        src="/{{this.imageCover}}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{this.title}}</h5>
                        <a href="/instructor/course/{{this._id}}"
                            class="btn btn-primary mr-2 mb-3">Edit
                            Course</a>
                        <a href="/instructor/course/{{this._id}}/video"
                            class="btn btn-primary mr-2 mb-3">Add
                            Video</a>
                        <a href="/instructor/course/{{this._id}}/lesson"
                            class="btn btn-primary mr-2 mb-3">Add
                            Lesson</a>
                        <a href="/instructor/course/{{this._id}}/delete"
                            class="btn btn-primary mr-2 mb-3">Del
                            Course</a>
                    </div>
                    {{/if}}
                </div>
            </div>

            {{/each}}


        </div>
    </div>
    {{else}}
    <h2>No course your Course Store</h2>
    {{/if}}
</div>
{{/user-profile-layout}}